---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { StickyHeader, Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Speakers",
    path: "#",
    children: [
      { title: "Loud Speakers", path: "#" },
      { title: "Box Speakers", path: "#" },
      { title: "Ceiling Speakers", path: "#" },
      { title: "Horn Speakers", path: "#" },  
    ],
  },  
  {
    title: "Amplifiers",
    path: "#",
    children: [
      { title: "Mixer Amplifiers", path: "#" },
      { title: "Multizone Amplifiers", path: "#" },
      { title: "High Power Amplifiers", path: "#" },
    ],
  },
  {
    title: "Accessories",
    path: "#",
    children: [
      { title: "Microphones", path: "#" },
      { title: "Volume Controls", path: "#" },
    ],
  },
  {
    title: "Induction Loops",
    path: "#",
  },
  {
    title: "Refuge Systems",
    path: "#",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg">
  <Container>
    <div
      class="flex flex-col lg:flex-row justify-between items-center relative z-10"
      transition:animate="none">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between text-indigo-600">
          <a
            href="/"
            class="text-lg flex items-center transition group hover:text-indigo-800 hover:fill-indigo-800 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full px-2 -ml-2"
            >
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 551 550"  width="50" height="50" class="fill-indigo-600 mr-1.5 group-hover:fill-indigo-800"><path d="M255 4.6A269.8 269.8 0 0 0 81.5 86.1 267 267 0 0 0 6.8 236.5a342.2 342.2 0 0 0-.5 75A268.3 268.3 0 0 0 81 464.4c43 44.1 93.9 70.2 155.5 79.8 20.2 3.1 57.8 3.1 78 0a267.2 267.2 0 0 0 155-79.3 267.4 267.4 0 0 0 74.7-150c3.2-20.8 3.2-58 0-78.8a269.3 269.3 0 0 0-79.8-155.2 265.1 265.1 0 0 0-122-68.4 242 242 0 0 0-61.9-8c-11.5-.1-23-.1-25.5.1zm55.5 20.8a253.8 253.8 0 0 1 123.1 53.4A254.5 254.5 0 0 1 526.1 244c1.8 12.4 1.8 50.6 0 63a263.7 263.7 0 0 1-32.9 96.5l-4.7 8-.5-88.5c-.3-48.7-.6-88.6-.8-88.7a19.5 19.5 0 0 0-8.7-3.3c-3.3 0-8.1 2.4-8.9 4.5-.3.9-.6 5.5-.6 10.2v8.6l-4.9-6.9c-10-14.3-28.5-30-45-38.4a117.6 117.6 0 0 0-55.6-12.4c-21.8 0-39 3.9-56 12.8l-6.7 3.4c-.4.2.3-2.8 1.7-6.7 4.6-13.6 5.9-22.5 5.9-39.6 0-17.7-1.4-26.7-6.6-41.5a124 124 0 0 0-29.3-46.3 123.6 123.6 0 0 0-82-36.5l-11-.7 15.5-5.2c16.8-5.6 34-9.5 49-11.2l13-1.5c7.3-.9 43.9.4 53.5 1.8zm-100.3 39a106.4 106.4 0 0 1 76.5 76.1 79.7 79.7 0 0 1 2.6 26c0 14.2-.3 17.1-2.6 26a106.4 106.4 0 0 1-76.2 76.1 109 109 0 0 1-40 2.3l-9-1.3 9.6-.8a105 105 0 0 0 94.6-78.6 76.7 76.7 0 0 0 2.6-25.7c0-14.1-.3-17.2-2.6-25.7a105.4 105.4 0 0 0-75-75.4l-9.2-2.5 9.5.5c5.2.3 13.9 1.6 19.2 3zm-4.3 25.3a86 86 0 0 1 42.2 57.8 84.2 84.2 0 0 1-24.3 78.1 79.7 79.7 0 0 1-26.1 17.6c-7.6 3.2-22.8 6.8-28.7 6.7-2.9 0-2.5-.3 3-1.8a90 90 0 0 0 64.6-66.1c1.4-5.5 1.9-11 1.9-20.5 0-19-4.1-33.4-14-48.6A113 113 0 0 0 203 89.7c-4.5-3.4-3-3.5 2.9 0zm-7.4 21.8a67.2 67.2 0 0 1 18.3 29.3 52 52 0 0 1 2.6 20.7 52 52 0 0 1-2.6 20.7 69.5 69.5 0 0 1-17.7 28.9 67.5 67.5 0 0 1-46.1 20.5l-9.5.4 6.3-1.5a72.9 72.9 0 0 0 37.1-20.6 73.4 73.4 0 0 0 .4-104.6l-7.3-7.4 5.2 2.8c2.9 1.5 8.9 6.4 13.3 10.8zm-51.6-8a56.1 56.1 0 0 1 41.6 41.6 55.4 55.4 0 1 1-108 24.2A68.6 68.6 0 0 1 89 126a55.8 55.8 0 0 1 57.9-22.5zm-86 42.7c-.4 2.4-.8 61.9-.9 132.3-.1 116.2-.2 127.8-1.6 126-.9-1.1-5.1-9.2-9.4-18a251.8 251.8 0 0 1-23.7-76.2c-2.3-15-2.3-54.6 0-69.6A257 257 0 0 1 61.4 142c.2 0 0 1.9-.5 4.2zm296.4 71.3a105 105 0 0 0-75 75.3 76.7 76.7 0 0 0-2.6 25.7c0 14.1.3 17.2 2.6 25.7a105 105 0 0 0 94.6 78.6l9.6.8-9 1.3a109 109 0 0 1-40-2.3 106.4 106.4 0 0 1-76.2-76.1 79.7 79.7 0 0 1-2.6-26c0-14.1.3-17.2 2.6-26a118.4 118.4 0 0 1 20.7-40.6 107.6 107.6 0 0 1 78-38.8h6.5l-9.2 2.4zM96.7 254.3a125 125 0 0 0 63.3 34.3c11.9 2.6 37.1 2.6 49 0 10.5-2.3 23.6-6.8 31.5-11l6.7-3.4c.4-.2-.3 2.8-1.7 6.7a107.9 107.9 0 0 0-5.9 39.6c-.1 17.7 1.3 26.5 6.6 41.5 6.2 17.4 16 32.9 29.5 46.3a124.6 124.6 0 0 0 63.3 34.3c11.9 2.6 37.1 2.6 49 0 10-2.2 23.3-6.7 31.1-10.6 16.4-8.3 35-24.2 45-38.4l4.9-6.9v51.1l-7.5 8.3A255.3 255.3 0 0 1 307 526.2a367.2 367.2 0 0 1-66.3-.5 247.2 247.2 0 0 1-76.2-23.7 251.6 251.6 0 0 1-81.3-62.8l-6.2-7.3V229.6l5.4 8c3 4.3 9.4 11.9 14.3 16.7zM345 243.7a113 113 0 0 0-21.5 23.2 82.7 82.7 0 0 0-14 48.6c0 9.5.5 15 1.9 20.5a90.3 90.3 0 0 0 64.6 66.1c5.5 1.5 5.9 1.8 3 1.8-5.9.1-21.1-3.5-28.7-6.7a79.7 79.7 0 0 1-26.1-17.6 84.2 84.2 0 0 1-24.3-78.1 85.6 85.6 0 0 1 42.1-57.7c5.8-3.5 7.6-3.6 3-.1zm15.7 15.6a74 74 0 0 0-10.6 91.4 96 96 0 0 0 24.2 24.2 91.4 91.4 0 0 0 23.9 9.6l6.3 1.5-9.5-.4a67.5 67.5 0 0 1-46.1-20.5 69.5 69.5 0 0 1-17.7-28.9 52 52 0 0 1-2.6-20.7c0-11.3.4-14 2.6-20.7 1.4-4.2 4.2-10.7 6.3-14.5a85 85 0 0 1 24.5-25.1l5.7-3.2-7 7.3zm65.2-1.8A55.8 55.8 0 0 1 459 280a68.6 68.6 0 0 1 8.5 43.3 55.7 55.7 0 0 1-41.6 42.2 55.7 55.7 0 0 1-66.4-41.6 54.6 54.6 0 0 1 15-51.4 54.6 54.6 0 0 1 51.4-15z"/></svg>
            <span class="font-bold">premier</span><span
              class="text-slate-600 group-hover:text-indigo-800">acoustic</span
            >
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-8 h-8 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 text-sm text-gray-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 transition focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                        {item.title}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
          <div class="lg:hidden flex items-center mt-3 gap-4">
            <Link href="#" size="md" block>Request Quote</Link>
          </div>
        </MenuItems>
      </Astronav>
      <div>
        <div class="hidden lg:flex items-center gap-4">
          <Link
            href="#"
            size="sm"
            class="inline-flex items-center group gap-px">
            <span>Request Quote</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4 mt-px group-hover:translate-x-1 transition-transform">
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </Link>
        </div>
      </div>
    </div>
  </Container>
</StickyHeader>
